html {
    scroll-behavior: smooth;
}

.logo {
    border-radius: 50%;
}

#main-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
h2.section-header {
    color: var(--fg-color);
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    margin-top:20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}
/*h2.section-header:before,*/ h2.section-header:after{
    content: "";
    flex: 1 1;
    border-bottom: 1px solid;
    margin: auto;
}
/*h2.section-header:before {
    margin-right: 10px
}*/
h2.section-header:after {
    margin-left: 10px
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* .vitepress/theme/style.css */
@media screen {
    .VPContent a[target="_blank"] {
        padding-right: 16px; /* Space for the icon */
        position: relative;
    }

    .VPContent a[target="_blank"]::after {
        content: "";
        display: inline-block;
        width: 12px;
        height: 12px;
        --svg-data: url('data:image/svg+xml,<svg fill="currentColor" height="12" width="12" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path d="M 25.980469 2.9902344 A 1.0001 1.0001 0 0 0 25.869141 3 L 20 3 A 1.0001 1.0001 0 1 0 20 5 L 23.585938 5 L 13.292969 15.292969 A 1.0001 1.0001 0 1 0 14.707031 16.707031 L 25 6.4140625 L 25 10 A 1.0001 1.0001 0 1 0 27 10 L 27 4.1269531 A 1.0001 1.0001 0 0 0 25.980469 2.9902344 z M 6 7 C 4.9069372 7 4 7.9069372 4 9 L 4 24 C 4 25.093063 4.9069372 26 6 26 L 21 26 C 22.093063 26 23 25.093063 23 24 L 23 14 L 23 11.421875 L 21 13.421875 L 21 16 L 21 24 L 6 24 L 6 9 L 14 9 L 16 9 L 16.578125 9 L 18.578125 7 L 16 7 L 14 7 L 6 7 z" /></svg>');
        background-color:  var(--vp-c-text-2);
        mask-image: var(--svg-data);
        -webkit-mask-image: var(--svg-data);
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}